<div th:class="(${lesson.groupLesson} != null ? 'hidden group_lesson_'+${lesson.groupLesson.id}+' ' : '')+tr" th:fragment="display (lesson)">
  <span class="td no-border-left"></span>
  <span class="td">[[${lesson.school.name}]]</span>
  <span class="td">[[${lesson.student.firstName + " " + lesson.student.lastName}]]</span>
  <span class="td">[[${#temporals.format(lesson.timeIn, "MMM dd, yyyy")}]]</span>
  <span class="td">[[${#temporals.format(lesson.timeOut, "hh:mm a")}]]</span>
  <span class="td">[[${lesson.length()}]]</span>
  <span class="td">
    <details>
      <summary>Goals</summary>
      <span th:each="rating : ${lesson.ratings}" th:remove="tag">
        <span class="td">[[${rating.goal.name}]]</span>
        <span class="td">[[${rating.score}]]</span>
      </span>
    </details>
  </span>
  <span class="td">[[${lesson.notes}]]</span>
</div>

<div th:fragment="input (index,goals,lesson,ratingScale,studentGoals)" class="lesson-fields" th:with="prefix=((${index} != null) ? 'student_'+${index}+'_' : '')">
  <input type="hidden" th:name="|${prefix}id|" th:value="${lesson.id}"></input>
  <span class="lesson-field student-name">
    <span class="student-first-name">[[${lesson.student.firstName}]]</span>
    <span class="student-last-name">[[${lesson.student.lastName}]]</span>
  </span>
  <label>Goals</label>
  <div class="lesson-field ratings">
  <div class="rating-list">
    <div class="rating" th:each="sg : ${studentGoals}">
      <select class="goal" th:name="|${prefix}rating${sgStat.index}_goalId|" onChange="checkFormErrors()">
        <option value="">[None]</option>
        <option th:value="${goal.id}" th:each="goal: ${goals}" th:selected="((${goal.id} == ${sg.id}) ? true : false)" th:text="${goal.name}"/>
      </select>
      <select class="score" th:name="|${prefix}rating${sgStat.index}_score|" onChange="checkFormErrors()" th:attr="required=${((sg.id == 99) ? true : false)}">
        <option value=""></option>
        <option th:value="${val}" th:each="val: ${ratingScale}">[[${val}]]</option>
      </select>
      <span class="error"></span>
    </div>
  </div>
  </div>
  <label>Notes</label>
  <span class="lesson-field notes">
    <textarea th:name="|${prefix}notes|" rows="4"></textarea>
  </span>
</div>
