<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/pico.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <title>Sparks Spring</title>
</head>
<body>
  <div id="root">
    <nav class="container-fluid">
      <ul><li><b><a href="/">Sparks for Success</a></b></li></ul>
      <ul>
        <li><a href="/lessons/new">Single Lesson</a></li>
        <li><a href="/group_lessons/new">Group Lesson</a></li>
        <li><a href="/lessons">My Lessons</a></li>
      </ul>
    </nav>
    <main id="detail" class="container">
      <p th:if="${message != null}">
        <mark>[[${message}]]</mark>
      </p>
      <section layout:fragment="content">
        <p>Page content goes here</p>
      </section>
    </main>
  </div>
</body>
</html>