<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<body>
  <section layout:fragment="content">
    <h2>Lessons</h2>
  <div th:if="${lessons != null && lessons.size() > 0}">
      <div class="stdnt table">
        <div class="thead">
          <div class="tr">
            <span class="td">School</span>
            <span class="td">Student</span>
            <span class="td">Date</span>
            <span class="td">Time Out</span>
            <span class="td">Minutes</span>
            <span class="td">Goals</span>
            <span class="td">Notes</span>
          </div>
        </div>
        <div th:each="lesson : ${lessons}" th:remove="tag">
          <div th:replace="~{fragments/lesson::display (${lesson})}" />
        </div>
      </div>
    </div>

    <div class="" th:unless="${lessons != null && lessons.size() > 0}">
      <span>No lessons found!</span>
    </div>
  </section>
</body>

</html>