<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<body>
  <section layout:fragment="content">
    <h2>My Lessons</h2>
  <div th:if="${lessons != null && lessons.size() > 0}">
      <div class="stdnt table">
        <div class="thead">
          <div class="tr">
            <span class="td no-border-left"></span>
            <span class="td">School</span>
            <span class="td">Student</span>
            <span class="td">Date</span>
            <span class="td">Time Out</span>
            <span class="td">Minutes</span>
            <span class="td">Goals</span>
            <span class="td">Notes</span>
          </div>
        </div>
        <div th:each="lesson : ${lessons}" th:remove="tag">
          <div th:replace="(${lesson.class.name == 'com.dfunklove.sparks.entity.GroupLesson'} ? ~{fragments/group_lesson::display (${lesson})} : ~{fragments/lesson::display (${lesson})})" />
        </div>
      </div>
    </div>

    <div class="" th:unless="${lessons != null && lessons.size() > 0}">
      <span>No lessons found!</span>
    </div>

    <script>
      function toggleShowGroupLesson(group_lesson_id) {
        for (e of document.getElementsByClassName("group_lesson_"+group_lesson_id))
          e.classList.toggle("hidden");
        document.getElementById("max_button_"+group_lesson_id).classList.toggle("hidden");
      }
    </script>
  </section>
</body>

</html>