<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<body>
  <section layout:fragment="content">
    <form id="lesson_form" th:action="@{|/lessons/${lesson.id}|}" method="post" th:object="${lesson}">
      <h2>[[|${lesson.student.firstName} ${lesson.student.lastName} . Check Out|]]</h2>
      <!--p class="time-in">Lesson started at: [[${#temporals.format(lesson.timeIn)}]]</p-->
      <div th:replace="~{fragments/lesson::input (null,${goals},${lesson},${ratingScale},${studentGoals})}"/>
      <button id="submit" type="submit">Finish Lesson</button>
      <div style="text-align: center"><label for="submit" class="error"></label></div>
    </form>
    <script>
      function checkFormErrors() {
        console.log("here")
        var error = false;
        const goals = document.querySelectorAll(".goal");
        for (let i=0; i<goals.length; i++) {
          const scoreElement = goals[i].parentElement?.querySelector(".score");
          if ((goals[i]).value && !scoreElement.value) {
            scoreElement.required = true;
            error = true;
          } else {
            scoreElement.required = false;
          }
        }
        if (error) {
          event.preventDefault();
        }
        const errorElement = document.querySelector("label[for='submit']")
        if (errorElement) {
          if (error)
            errorElement.innerHTML = "Please correct the errors to continue"
          else
            errorElement.innerHTML = ""
        }
      }
      const form = document.getElementById("lesson_form");
      form.addEventListener("submit", checkFormErrors);
    </script>
  </section>
</body>
</html>