<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Schools</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
  <section layout:fragment="content">
    <h2>Schools</h2>
    <div th:if="${schools != null && schools.size() > 0}">
      <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="school : ${schools}">
            <th scope="row">[[${school.id}]]</th>
            <td>[[${school.name}]]</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="" th:unless="${schools != null && schools.size() > 0}">
      <span>No schools found!</span>
    </div>
  </section>
</body>

</html>